header {
    text-align: center;
    background-color: #e5e5e5;
}

header h1,
section.InfoCat h2 {
    padding: 10px;
    background-color: #c4c4c4;
    color: #005677;
    text-size-adjust: 35;
    letter-spacing: 15px;
    text-transform: uppercase;
}

div.Logo {
    padding: 10px;
}

main {
    max-width: 1041px;
    margin: 50px auto;
}

footer {
    background-color: #005677;
    background-size: cover;
    text-align: center;
    color: white;
}